
<h1>This is my home page!!</h1>

<p> <%= "#{@name} is from the #{@city}" %></p>

<ul>
	<% 10.times do %>
		<li>ruby is awesome!!!</li>
	<% end %>
</ul>

<p><%= "nycda".upcase %> is located in the financial district</p>

